[mysqld]
socket=/var/lib/mysql/mysql.sock
datadir=/var/lib/mysql/data/
innodb_log_group_home_dir=/var/lib/mysql/logs/
innodb_doublewrite=0
symbolic-links=0
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
max_connections = 500

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
